body{
	margin: 0 auto;
	font-family: sans-serif;
	background:url("images/woodenbg.png");
	background-repeat: no-repeat;
	background-size: 200%;
	height: 100%;
} 
.header{

	margin:0 auto;
	max-width: 1100px;
	background-color: white;
	background-image: url("images/leaf.png"),url("images/leaf2.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 610px,710px;
    background-size:125px,80px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
 .starwestlogo
{ 
	 padding-top: 10px;
	 padding-left: 10px;
	 width: 225px;
	 height: 57px;
	 z-index:103;
	 float: left;
} 
.ingredients{
	padding-left: 50px;
	margin:0 auto;
	max-width: 300px;
	float: left; 
	font-size: 34px;
	word-spacing: 2px;
	font-variant: small-caps;
	color: #374b42;
	font-weight: 100;
}
.ingredients p{
	margin-top: 25px;
	margin-bottom: 25px;
}
/*.leaf2 
{ 	 width: 66px;
	 height: 110px;
	 
} 

 .leaf 
{ 	
	 width: 86px;
	 height: 110px;
} */
.sideheader{
	padding-top: 5px;
	float: right;
	margin: 0 auto;
	max-width: 350px;
}

#sites{
	margin-left: 150px;
	color: #374b42;
	font-size: 15px;
	font-weight: 600;
}
.sideheader ul{
	padding-left: 80px;
	margin: 0;
	font-weight: 600;
}
.sideheader li{
	float: left;
	font-size: 15px;
	list-style: none;
	padding-right: 10px;
	color: #b58685;
	padding-bottom: 3px;
	text-decoration: underline;
}
#search{
	background-color: #FFF;
	max-width: 250px;
	font-size: 18px;
	text-indent: 10px;
	height: 20px;
	margin-left: 30px;
	margin-top: 5px;
	float: left;
}
.gocontainer{
	float: left;
	background-color: #b58685;
	border-style: solid;
	border-color: #b58685;
	text-align: center;
	margin-top: 5px;
	line-height: 20px;
	max-height: 20px;
	max-width: 25px;
	color: #FFF;
	font-size: 15px;
}
.nav{
	margin: 0 auto;
	width: 1098px;
	float: left;
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius: 10px;
	font-size: 22px;
	background-color: #b58685;
	/*background: linear-gradient(to top, rgba(181,134,133,1),rgba(181,134,133,0.8), rgba(181,134,133,1)); */
	
}
.nav ul{
	margin: 0;
	padding: 0;
}
.nav li{
	border-right-style: solid;
    border-width: 1px;
    border-color: #FFF;
    list-style: none;
    color: #FFF;
    float: left;
    margin-left: 0;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.nav span{
	float: right;
	padding-top: 3px;
	padding-right: 15px;
	color: #FFF;
}
.pagebody{
	margin-top: 25px;
	background-color: #FFF;
	margin-left: auto;
	margin-right:  auto;
	max-width:1100px; 
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
	padding: 1px;
	margin-bottom: 20px;
}
.footer{
	background-color: #FFF;
	margin: 0 auto;
	max-width: 1100px;
	height: 100px;
}
.footer ul {
	padding: 0;
}
.fproducts{
	border-right-style: solid;
    border-width: 1px;
    border-color:#b58685;
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width: 12%;
	float: left;
	font-size: 12px;
}
.finfo{
	border-right-style: solid;
    border-width: 1px;
    border-color:#b58685;
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width: 12%;
	float: left;
	font-size: 12px;
}
.fsites{
	border-right-style: solid;
    border-width: 1px;
    border-color:#b58685;
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width: 12%;
	float: left;
	font-size: 12px;
}
.flinks{
	border-right-style: solid;
    border-width: 1px;
    border-color:#b58685;
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width: 12%;
	float: left;
	font-size: 12px;
}
.footer li{
	list-style: none;
}
.footer span{
	color: #b58685;
	font-size: 12px;
	font-weight: 600px;
}
.footerlogo{
	border-right-style: solid;
    border-width: 1px;
    border-color:#b58685;
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width:200px;
	float: left;
}

.flisence{
    padding:10px;
    padding-right: 15px; 
    height: 80px;
	width: 15%;
	float: right;
	color: #000000;
}
.flisence{
	font-size: 14px;
	text-align: right;
}
.leftside{
	float: left;
	width: 20%;
	margin:5px;
	height:65%;
}
.belowimage{
	display: inline-block;
	width: 79%;
}
.content{
	padding-top: 10px;
	width: 68%;
	float: left;
}

.products{
	margin:5px;
	border-width: 2px;
	border-style: solid;
	border-color: #985552;	
}
.products img{
	float: left;
    position: relative;
    left: 15px;
        bottom: 7px;
}
.adobe{
	background-color: #c45258;
	font-size: 15px;
	float: left;
	color: #FFF;
	width: 70%;
    text-align: right;
    padding-right: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.adobe span{
	font-size: 10px;
	color: #FFF;
}
.assistance{ 
	background-image: url("images/cutewoman.png");
	background-size: cover;
	margin:5px;
	background-repeat: no-repeat;
	border-width: 2px;
	border-style: solid;
	display: table;
	border-color: #985552;
	width: 95%;
	height: 170px;
}
#needassis, #call{
	font-size: 22px;
	background-color: #FFF;
	opacity: 0.6;
	font-variant: small-caps;
    filter: alpha(opacity=60);
}
#call{
	display: table-footer-group;
    vertical-align: bottom;
}
.assistance span{
	height: 25px;
	width: 180px;
}

.update{
	margin:5px;
	border-width: 2px;
	border-style: solid;
	border-color: #985552;
	
}
.news{
	width: 30%;
	margin:5px;
	float: left;
	border-width: 2px;
	border-style: solid;
	border-color: #985552;
	font-size: 15px;
}
#signup{
	display: inherit;
	margin: 0 auto;
	background-color: #985552;
	margin-top: 5px;
	color: #FFF;
}
.update2 img{
	padding: 5px;
	height: 40px;
}
.update2 input{
	margin-bottom: 5px;
}
.update2{
	margin:30px 15px 0 15px;
}
.update2 p{
	text-align: center;
	margin-bottom: 0;
}
.certifications{
	font-size: 15px;
	float: left;
	width: 30%;
	margin:5px;
	border-width: 2px;
	border-style: solid;
	border-color: #985552;
}
#products{
	background-color:  #b58685;
	font-size: 20px;
	width: 100%;
}
.news p{
	text-align: center;
	line-height: 20px;
}
.news a{
	color: #446e64;
}
#update1{
	background-color:  #b58685;
	font-size: 20px;
	width: 100%;
	float: left;
}
#news1{
	background-color:  #b58685;
	font-size: 20px;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.newscontent{
	margin: 5px;
    padding-bottom: 10px;
}

#certificates1{
	background-color:  #b58685;
	font-size: 20px;
	width: 100%;
    float: left;
}
.certifications ul{
	margin-left: 5px;
    list-style: none;
    padding-top: 15px;
    padding-left: 10px;
    line-height: 25px;
}
.certifications li{
	margin-top: 3px;
}
.products ul{
	margin-left: 5px;
	list-style: none;
	padding-left: 10px;
}
.content ul{
	list-style-image: url("images/listimage.png");
	margin-left: 25px;
	padding-left: 10px;
}
.content span{
	font-size: 25px;
	margin-left: 30px;
	color: #446e64;
}
.imagebar{
	background-image: url("images/spices.png");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	width: 79%;
	height: 380px;
	position: relative;
}
.imageadv{
	position: absolute;
	bottom: 10px;
    right: 10px;
	font-size: 35px;
	align-items: flex-end;
	width: 350px;
	background-color: #FFF;
	opacity: 0.6;
    filter: alpha(opacity=60);
}
.imageadv p{
	margin:5px;
	    font-family: serif;
}